:root {
  --default-font: Roboto, sans-serif;;
  --header-font-size: 20px;
  --sub-header-font-size: 19px;
  --body-font-size: 16px;
  --icon-font-size: 20px;
  --small-icon-font-size: 17px;
  --small-font-size: 14px;
}
