.achievement-card {
  .achievement {
    span {
      font-size: 14px;
      font-weight: 600;
    }

    fa-icon {
      margin-left: 10px;
    }

    .positive {
      color: #388e3c;
    }

    .negative {
      color: #d32f2f;
    }
  }
}
