@import "../../styles/common/common.scss";

.achievement-card {
  @include layout-flex-column();
  @include default-border-radius();
  @include align-left();

  padding: 10px;
  border-top: 1px solid var(--text-color);

  .achievement {
    span {
      font-size: var(--body-font-size);
      font-weight: 600;
    }

    fa-icon {
      margin-left: 10px;
      font-size: var(--icon-font-size);
    }

    .positive {
      color: #f57f17;
    }

    .negative {
      color: #f57f17;
    }
  }
}
