.achievement-card {
  display: flex;
  flex-direction: column;
  float: left;
  text-align: left;
  padding: 10px;
  border-top: 1px solid #eeeeee;
  border-top-right-radius: 15px;
  .achievement {
    span {
      font-size: 16px;
      font-weight: 600;
    }

    fa-icon {
      margin-left: 10px;
    }

    .positive {
      color: #388e3c;
    }

    .negative {
      color: #d32f2f;
    }
  }
}
