<div class="github-user">
  <div class="left" *ngIf="!loading && userFound && !onlyMetrics">
    <app-core-information-card
      [info]="user.coreInformation"
    ></app-core-information-card>

    <div class="basic-info">
      <app-personal-information-card
        [info]="user.personalInformation"
      ></app-personal-information-card>

      <div class="conditional-info">
        <app-achievement-card
          [achievement]="user.achievement"
        ></app-achievement-card>
      </div>
    </div>
  </div>
  <div id="exportable" class="right" *ngIf="!loading && userFound">
    <app-contribution-card
      [contribution]="user.contribution"
    ></app-contribution-card>
  </div>
  <app-loader *ngIf="loading"></app-loader>
  <div class="user-not-found" *ngIf="!loading && !userFound">
    <p>
      User with name <span>{{ username }}</span> not found.
    </p>
  </div>
</div>

<!-- <div class="actions">
  <div class="download-button" *ngIf="!loading" (click)="exportAsMarkDown()">
    <fa-icon [icon]="faBack" class="fa-lg"></fa-icon
    ><input type="button" value="Convert to Pdf" />
  </div>
  
  <div class="back-button" *ngIf="!loading" (click)="back()">
    <fa-icon [icon]="faBack" class="fa-lg"></fa-icon
    ><input type="button" value="Back" />
  </div>
</div> -->