@import "../../styles/common/common.scss";

.github-user {
  @include align-center();
  width: 90%;
  color: var(--text-color);

  .left {
    @include layout-flex-column();

    max-width: 300px;
    float: left;
    margin-left: 120px;

    .basic-info {
      .conditional-info {
        margin-top: 30px;
      }
    }
  }

  .right {
    @include layout-flex-column();
    @include align-left();

    background-color: var(--bg-color);
    margin-left: 100px;
    max-width: 500px;
  }

  app-loader {
    position: absolute;
  }

  .user-not-found {
    margin-top: 20vh;
    margin-left: 10vw;
    p {
      font-size: 18px;
      span {
        color: var(--theme-color);
        font-weight: 600;
      }
    }
  }
}

.actions {
  @include layout-flex-row();
  height: 60px;
  background-color: var(--header-color);
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  .download-button,
  .back-button {
    margin-left: 30px;
    color: var(--bg-color);

    input {
      cursor: pointer;
      background-color: var(--header-color);
      font-size: 15px;
      font-weight: 600;
      height: 40px;
      width: auto;
      padding-right: 15px;
      padding-left: 10px;
      border: 0px;
    }
  }
}

@media only screen and (max-width: 999px) {
  .github-user {
    .left {
      margin-left: 20px;
    }
    .right {
      margin-left: 20px;
    }
  }
}
