@import "../../styles/common/common.scss";

.github-user {
  @include align-center();
  width: 90%;
  color: var(--text-color);

  .left {
    @include layout-flex-column();

    max-width: 300px;
    float: left;
    margin-left: 120px;

    .basic-info {
      .conditional-info {
        margin-top: 30px;
      }
    }
  }

  .right {
    @include layout-flex-column();
    @include align-left();

    margin-left: 100px;
    max-width: 500px;
  }

  app-loader {
    position: absolute;
  }

  .back-button {
    margin-top: 30px;
    margin-bottom: 50px;
    input {
      cursor: pointer;
      @include default-border-radius();
      background-color: var(--text-color);
      color: var(--bg-color);
      font-size: 15px;
      font-weight: 600;
      height: 40px;
      width: 120px;
      border: 0px;
    }
  }

  .user-not-found {
    margin-top: 20vh;
    margin-left: 10vw;
    p {
      font-size: 18px;
      span {
        color: var(--theme-color);
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .github-user {
    .left {
      margin-left: 20px;
    }
    .right {
      margin-left: 20px;
    }
  }
}
