<div class="github-user">
  <div class="left">
    <div class="profile-image">
      <img [src]="user.avatar" />
    </div>

    <div class="basic-info">
      <div class="head">
        <p class="info">
          <span>{{ user.name }}</span>
        </p>
      </div>
      
      <div class="body">
        <p class="info">
          <fa-icon [icon]="faBuilding" class="fa-lg"></fa-icon
          ><span>{{ user.company }}</span>
        </p>
        <p class="info">
          <fa-icon [icon]="faEnvelope" class="fa-lg"></fa-icon
          ><span>{{ user.email }}</span>
        </p>
      </div>

      <div class="conditional-info">
        <p class="info">
          <span class="title">Developer Program Member</span>
          <fa-icon
            [icon]="user.isDeveloperProgramMember ? faCheck : faTimes"
            class="fa-lg"
            [class]="user.isDeveloperProgramMember ? 'positive' : 'negative'"
          ></fa-icon>
        </p>
        <p class="info">
          <span class="title">Github Star</span
          ><fa-icon
            [icon]="user.isGithubStar ? faCheck : faTimes"
            class="fa-lg"
            [class]="user.isGithubStar ? 'positive' : 'negative'"
          ></fa-icon>
        </p>
        <p class="info">
          <span class="title">Hireable</span
          ><fa-icon
            [icon]="user.isHireable ? faCheck : faTimes"
            class="fa-lg"
            [class]="user.isHireable ? 'positive' : 'negative'"
          ></fa-icon>
        </p>
      </div>
    </div>
  </div>

  <div class="primary-languages">
    <p class="title">Primary Languages</p>
    <ng-container *ngFor="let language of user.primaryLanguages">
      <p class="language">{{ language }}</p>
    </ng-container>
  </div>

  <div class="languages">
    <p class="title">Experienced Languages</p>
    <ng-container *ngFor="let language of user.languages">
      <p class="language">{{ language }}</p>
    </ng-container>
  </div>
</div>
