@import "../../styles/common/common.scss";

.personal-information-card {
  @include layout-flex-column();
  @include align-left();
  @include default-border-radius();

  padding: 10px;
  border-top: 1px solid var(--text-color);

  .info {
    display: flex;
    flex-direction: row;

    .content {
      word-break: break-all;
      margin-left: 10px;
      font-size: var(--body-font-size);
      padding-top: 2px;
      font-weight: 400;
    }

    a {
      color: var(--theme-color);
    }
  }
}
