<div class="personal-information-card">
  <p class="info">
    <fa-icon [icon]="faBuilding" class="fa-lg"></fa-icon
    ><span>{{ info.company }}</span>
  </p>
  <p class="info">
    <fa-icon [icon]="faMapMarkerAlt" class="fa-lg"></fa-icon
    ><span>{{ info.location }}</span>
  </p>
  <p class="info">
    <fa-icon [icon]="faEnvelope" class="fa-lg"></fa-icon
    ><span>{{ info.email }}</span>
  </p>
  <p class="info">
    <fa-icon [icon]="faLink" class="fa-lg"></fa-icon
    ><span>{{ info.websiteUrl }}</span>
  </p>
</div>
