<div class="earned-card">
  <div class="card" *ngIf="!loading">
    <div class="valid" *ngIf="certificateFound">
      <p class="certificate">
        <fa-icon [icon]="faCertificate" class="fa-lg"></fa-icon>
        <span>Gitlift Certificate</span>
      </p>
      <p class="info">
        <span class="title">Username</span>
        <a class="value" [href]="'https://gitlift.com/user/' + earned.login">{{
          earned.login
        }}</a>
      </p>

      <p class="info">
        <span class="title">Certificate Date</span>
        <span class="value">{{ earned.created.toDateString() }}</span>
      </p>

      <p class="info">
        <span class="title">Certificate Expiry</span>
        <span class="value">{{ earned.expiry.toDateString() }}</span>
      </p>

      <p class="info">
        <span class="title">Total Point Earned</span>
        <span class="value">{{ earned.totalPoint }}</span>
      </p>

      <p class="info">
        <span class="title">Earned Badge</span>
      </p>
      <p class="badge">
        <img
          [src]="
            './assets/badges/' + getBadge(earned.totalPoint) + '-badge.png'
          "
        />
      </p>
    </div>
    <div class="invalid" *ngIf="!certificateFound">
      <fa-icon [icon]="faExclamationTriangle" class="fa-lg"></fa-icon>
      <p>Invalid Certificate</p>
    </div>
  </div>
  <div class="loader" *ngIf="loading"><app-loader></app-loader></div>
</div>
