@import "../../styles/common/common.scss";

.earned-card {
  @include layout-flex-column();
  @include align-center();

  .certificate {
    @include align-left();

    max-width: 300px;
    width: 300px;

    fa-icon {
      color: var(--theme-color);
    }

    span {
      color: var(--theme-color);
      padding-left: 5px;
      font-size: var(--sub-header-font-size);
      font-weight: 600;
    }
  }

  .info {
    @include layout-flex-column();
    @include align-left();

    max-width: 300px;
    width: 300px;

    font-size: var(--body-font-size);
    font-weight: 600;

    .title {
      color: var(--text-color);
    }

    .value {
      color: var(--theme-color);
    }
  }

  .badge {
    @include align-left();

    max-width: 300px;
    width: 300px;

    img {
      height: 174px;
      width: 172px;
    }
  }
}
