<div class="search-page">
  <img class="brand-logo" src="./assets/brand-logo.png" />
  <div class="search-container">
    <fa-icon [icon]="faSearch" class="search-icon"></fa-icon
    ><input
      type="search"
      class="search-box"
      placeholder="Type Github username: e.g fatihturker"
      (keydown.enter)="search($event)"
      autocomplete="on"
    />
  </div>
  <div class="footer">
    <div class="developed-by">
      <a href="https://remoklify.com" target="_blank"
        ><img
          src="https://raw.githubusercontent.com/remoklify/remoklify.github.io/master/assets/logo/developed-by.png"
      /></a>
    </div>
    <div class="powered-by">
      <a href="http://opentemplatehub.com" target="_blank"
        ><img
          src="https://raw.githubusercontent.com/open-template-hub/open-template-hub.github.io/master/assets/min/badge/powered-by-dark-mode.min.png"
      /></a>
    </div>
  </div>
</div>
