.search-page {
  margin-top: 60px;

  .product-name {
    font-size: 48px;
    font-weight: 600;
    color: #f57f17;
  }

  .search-box {
    width: 36vw;
    border-radius: 15px;
    border: 2px solid #f57f17;
    height: 30px;
    padding-left: 36px;
    padding-bottom: 1px;
  }

  .search-icon {
    color: #f57f17;
    position: absolute;
    margin-left: 16px;
    margin-top: 9px;
  }
}

@media only screen and (max-width: 999px) {
  .search-page {
    .search-box {
      width: 76vw;
    }
  }
}
