@import "../../../styles/common/common.scss";

.search-page {
  @include layout-flex-column();
  @include align-center();

  width: 100%;
  margin-top: 60px;

  .brand-logo {
    width: 200px;
    height: 200px;
  }

  .search-container {
    margin-top: 20px;

    .search-box {
      width: 40vw;
      border-radius: 15px;
      border: 2px solid var(--theme-color);
      height: 30px;
      padding-left: 42px;
      padding-bottom: 1px;
      font-size: var(--body-font-size);
      height: 40px;
    }

    .search-icon {
      color: var(--theme-color);
      position: absolute;
      margin-left: 16px;
      margin-top: 8px;
      font-size: var(--icon-font-size);
    }
  }

  .footer {
    @include layout-flex-column();

    margin-top: 30px;

    .developed-by {
      a {
        img {
          width: 240px;
        }
      }
    }
    .powered-by {
      padding-top: 5px;
      a {
        img {
          width: 130px;
        }
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .search-page {
    .search-container {
      width: 100%;
      .search-box {
        width: 90%;
      }
    }
  }
}