@import "../../../styles/common/common.scss";

.search-page {
  @include layout-flex-column();
  @include align-center();

  width: 40%;
  margin-top: 10vh;
  margin-left: 30%;

  .brand-logo {
    width: 200px;
    height: 200px;
  }

  .title {
    font-size: var(--header-font-size);
    font-weight: 300;
    color: var(--text-color);
  }

  .search-container {
    margin-top: 20px;
    width: 100%;
    .search-box {
      @include default-border-radius();

      width: 100%;
      border: 2px solid var(--theme-color);
      padding-left: 36px;
      padding-bottom: 1px;
      padding-top: 1.5px;
      font-size: var(--body-font-size);
      height: 40px;
    }

    .search-icon {
      color: var(--theme-color);
      position: absolute;
      margin-left: 10px;
      margin-top: 0.55vh;
      font-size: var(--icon-font-size);
    }
  }

  .footer {
    @include layout-flex-row();

    margin-top: 30px;

    .developed-by {
      a {
        img {
          width: 240px;
        }
      }
    }
    .powered-by {
      padding-top: 40px;
      a {
        img {
          width: 130px;
        }
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .search-page {
    @include align-center();
    width: 90%;
    margin-left: 5%;

    .title {
      font-size: var(--body-font-size);
      font-weight: 400;
      color: var(--text-color);
    }

    .search-container {
      width: 100%;
      .search-box {
        width: 90%;
      }
    }

    .footer {
      @include layout-flex-column();
    }
  }
}
