<div class="badge">
  <p class="title">{{ badge.name }}</p>
  <p class="description" *ngIf="badge.minCount !== 0">
    Sum of contributions and popularity degrees are
    <span>{{ badge.minCount }}</span> or more, contributor will be eligible to
    earn <span>{{ badge.name }}</span> badge.
  </p>
  <p class="description" *ngIf="badge.minCount === 0">
    Sum of contributions and popularity degrees are less than
    <span>500</span>, contributer will have <span>{{ badge.name }}</span> badge.
  </p>
  <img class="badge" [src]="'./assets/badges/' + badge.name + '-badge.png'" />
</div>
