@import "../../styles/common/common.scss";

.contribution-card {
  .head {
    .title {
      font-size: 24px;
      font-weight: 600;
    }
  }

  .body {
    .badge {
      height: 174px;
      width: 172px;
    }

    .sub-head {
      font-size: 18px;
      margin-top: 25px;
      font-weight: 600;
    }

    .contribution-details {
      @include layout-flex-column();

      p {
        @include layout-flex-row();

        fa-icon {
          color: var(--theme-color);
          width: 36px;
          padding-top: 4px;
        }

        .right {
          @include layout-flex-column();

          span {
            font-size: 17px;
            font-weight: 600;
            text-align: left;
          }

          .title {
            color: var(--text-color);
          }

          .value {
            color: var(--theme-color);
          }
        }
      }

      .total {
        @include layout-flex-column();
        text-align: left;

        span {
          color: var(--theme-color);
          padding-top: 2px;
        }
      }

      .contributions {
        @include layout-flex-row();
      }

      .popularity {
        @include layout-flex-row();
      }

      .contributions,
      .popularity {
        @include default-border-radius();

        border: 1px solid var(--theme-color);
        padding: 1px 10px 1px 10px;

        p:not(:first-child) {
          margin-left: 30px;
          border-left: 2px solid var(--text-color);
          padding-left: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 999px) {
}
