@import "../../styles/common/common.scss";

.contribution-card {
  .description {
    font-size: 17px;
    font-weight: 400;
  }

  .head {
    .title {
      font-size: 25px;
      font-weight: 600;
    }
  }

  .body {
    .badge {
      height: 174px;
      width: 172px;
      margin-top: 10px;
    }

    .sub-head {
      font-size: 19px;
      margin-top: 25px;
      font-weight: 600;
    }

    .contribution-details {
      @include layout-flex-column();

      p {
        @include layout-flex-row();

        fa-icon {
          color: var(--theme-color);
          width: 36px;
          padding-top: 4px;
        }

        .right {
          @include layout-flex-column();

          span {
            font-size: 17px;
            font-weight: 600;
            text-align: left;
          }

          .title {
            color: var(--text-color);
          }

          .value {
            color: var(--theme-color);
          }
        }
      }

      .total {
        @include layout-flex-column();
        text-align: left;

        span {
          color: var(--theme-color);
          padding-top: 10px;
        }
      }

      .contributions,
      .popularity {
        @include layout-flex-row();
        @include default-border-radius();
        
        border-top: 1px solid var(--text-color);
        padding: 1px 10px 1px 10px;
        
        p:not(:first-child, :nth-child(5)) {
          margin-left: 22px;
          border-left: 1px solid var(--header-color);
          padding-left: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .contribution-card {
    .body {
      .contribution-details {
        .contributions,
        .popularity {
          @include layout-flex-column();

          p:not(:first-child, :nth-child(5)) {
            margin-left: 0px;
            padding-left: 0px;
            border-left: 0px;
          }
        }
      }
    }
  }
}
