@import "../../styles/common/common.scss";

.contribution-card {
  .head {
    .title {
      font-size: 24px;
      font-weight: 600;
    }
    .total-contribution {
      span {
        font-weight: 600;
        color: var(--theme-color);
      }
    }
    .badge {
      height: 174px;
      width: 172px;
    }

    .contribution-details {
      @include layout-flex-row();

      p {
        @include layout-flex-row();

        fa-icon {
          color: var(--theme-color);
        }
        span {
          padding-left: 8px;
          padding-top: 2px;
        }
        .title {
          text-align: left;
          font-weight: 600;
          font-size: 16px;
          color: var(--text-color);
        }
        .value {
          font-weight: 600;
          font-size: 16px;
          color: var(--theme-color);
        }
      }

      .sub-contributions {
        @include layout-flex-column();
        padding-right: 20px;
      }

      .popularity {
        @include layout-flex-column();
        margin-left: 20px;
      }
    }
  }

  .body {
    .title {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
