@import "../../styles/common/common.scss";

.core-information {
  @include layout-flex-column();
  @include default-border-radius();
  @include align-left();

  padding: 10px;
  border-top: 1px solid var(--text-color);

  .profile-image {
    img {
      @include default-border-radius();

      width: 160px;
      height: 160px;
    }
  }

  .info {
    margin-top: 10px;

    .name {
      font-size: var(--header-font-size);
      font-weight: 600;
    }

    .login {
      font-size: var(--sub-header-font-size);
      font-weight: 600;
    }

    .bio {
      margin-top: 10px;
      font-size: var(--body-font-size);
      font-weight: 400;
    }
  }
}
