.core-information {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 10px;
  border-top: 1px solid #eeeeee;
  border-top-right-radius: 15px;
  .profile-image {
    img {
      width: 160px;
      height: 160px;
      border-bottom-right-radius: 80px;
    }
  }

  .info {
    margin-top: 10px;
    text-align: left;
    .name {
      font-size: 24px;
      font-weight: 600;
    }

    .login {
      font-size: 18px;
      font-weight: 600;
    }

    .bio {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
