@import "../../styles/common/common.scss";

.language-container {
  @include layout-flex-row();

  .language {
    @include default-border-radius();

    padding: 11px 26px 13px 13px;
    margin-left: 10px;
    font-size: var(--body-font-size);
    text-align: center;
    color: var(--bg-color);
    font-weight: 600;
    background: var(--text-color);
  }
}
