@import "../../styles/common/common.scss";

.language-container {
  @include layout-flex-row();

  .language {
    @include default-border-radius();

    padding: 13px 26px 13px 13px;
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
    background-color: var(--theme-color);
    color: #eeeeee;
  }
}
